{% extends 'themes/base_admin.html.twig' %}

{% block title %}
	- Admin - Tableau de bord
{% endblock %}

{% block description %}
	<meta name="description" content="Bienvenue sur le tableau de bords de l'administrateur. ">
{% endblock %}


{% block main %}
	<h1 class="text-center my-3 display-5">Bienvenue
	</h1>

	<div class="container my-2"></div>

{% endblock %}
