{% extends 'themes/base_visitor.html.twig' %}

{% block title %}L'email de la réinitialisation du mot de passe vous a été renvoyé
{% endblock %}

{% block description %}
	<meta name="description" content="Bienvenue sur notre page d'attente de réinitialisation du mot de passe .">
{% endblock %}


{% block main %}
	<main class"container-fluid text-center mt-5">
		<div class="row">

			<div class="col-md-5 background-image mb-2">
				<h1 class='text-center my-3 display-5'>
					<u>
						Réinitialisation du mot de passe
					</u>
				</h1>


			</div>


			<div class="col-md-7 d-flex flex-column justify-content-center align-items-center">

				<p>
					Si un compte correspondant à votre adresse e-mail existe, un e-mail contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe vient d'être envoyé.
																																																																	Ce lien expirera dans
					{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
				</p>
				<p>Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier spam ou
					<a href="{{ path('visitor.authentication.forgot_password_request') }}">Réessayez</a>.</p>

			</div>
		</div>
	</main>
{% endblock %}
