.cursor-pointer
{
  cursor: pointer;
}

.cursor-pointer:hover
{
  text-decoration: underline;
}


html, .T-body
{
    height: 100%;
}

.T-body
{
    display: grid;
    grid-template-rows: auto 1fr auto;
}