{% extends 'themes/base_user.html.twig' %}

{% block title %}
	- User - Tableau de bord
{% endblock %}

{% block description %}
	<meta name="description" content="Bienvenue sur le tableau de bords de l'utilisateur'. ">
{% endblock %}


{% block main %}
	<h1 class="text-center my-3 display-5">Bienvenue
	</h1>
	{% for message in app.flashes('success') %}
		<div class="text-center alert alert-success alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	{% for message in app.flashes('warning') %}
		<div class="text-center alert alert-warning alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}
	{% for message in app.flashes('error') %}
		<div class="text-center alert alert-danger alert-dismissible fade show" role="alert">
			{{message}}
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	{% endfor %}

	<div class="container my-2"></div>

{% endblock %}
