<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-primary">
	<div class="offcanvas-md offcanvas-start bg-secondary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
		<div class="offcanvas-header">
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link active" href="{{path('admin.dashboard.index')}}">
						<i class="fas fa-tachometer-alt"></i>
						Tableau de bord
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fas fa-shopping-cart"></i>
						Commandes
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fa-solid fa-list"></i>
						Categories
					</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
						<i class="fas fa-tag"></i>
						Produits
					</a>
					<ul class='dropdown-menu dropdown-menu-start'>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<i class="fa-solid fa-laptop"></i>
								PC Portables
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">
								<i class="fa-solid fa-computer"></i>
								PC de Bureau
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="#">
								<i class="fa-solid fa-desktop"></i>

								Ecrans
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<i class="fa-solid fa-print"></i>
								Imprimantes
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<i class="fa-solid fa-fill"></i>
								Encre & Toner
							</a>
						</li>

					</ul>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
						<i class="fa-solid fa-diagram-successor"></i>
						Accessoires
					</a>
					<ul class='dropdown-menu dropdown-menu-start'>
						<li class="nav-item list-unstyled">
							<a class="nav-link" href="#">
								<i class="fa-solid fa-computer-mouse"></i>
								Souris
							</a>
						</li>
						<li class="nav-item list-unstyled">
							<a class="nav-link" href="#">
								<i class="fa-regular fa-keyboard"></i>
								Claviers
							</a>
						</li>
						<li class="nav-item list-unstyled">
							<a class="nav-link" href="#">
								<i class="fa-regular fa-file-zipper"></i>
								Papiers
							</a>
						</li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fas fa-users"></i>
						Clients
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fa-solid fa-star"></i>
						Avis
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fas fa-chart-bar"></i>
						Statistiques
					</a>
				</li>
			</ul>
			<hr>
			<ul class="nav flex-column">
				<li class="nav-item">
					<a class="nav-link" href="#">
						<i class="fas fa-cog"></i>
						Paramètres
					</a>
				</li>

			</ul>
		</div>
	</div>
</div>
