{% extends 'themes/base_visitor.html.twig' %}

{% block title %}
	- En attente de la vérification du compte par email
{% endblock %}

{% block description %}
	<meta name="description" content="Bienvenue sur notre page d'attente de validation par e-mail. La société Ride-Location vous propose des locations de voitures en click en collect. Cette sociétéé est détenu pas Monsieur Dwayne Johnson. Nous avons plusieurs agences en France.Venez faire un tour sur notre site, on a ce qu'il vous faut.">
{% endblock %}

{% block main %}
	<main class=" mt-5 container-fluid text-center">
		<h1 class="my-3 display-5">En Atttente...</h1>
		<p class="mt-5">Un email vous a été envoyé pour la validation de votre compte. N'hesitez pas à regarder dans les courriers indésirables</p>
		<p class="mt-5">Tech Store</p>
	</main>
{% endblock %}
